//overrides
#__docusaurus {
  .navbar-sidebar {
    z-index: var(--z-sidebar);

    &__item {
      padding: 1rem var(--ifm-navbar-padding-horizontal);

      .menu__list {
        .separator {
          display: none;
        }
        .icon-link {
          display: none;
        }
      }
    }

    &__brand {
      .navbar__brand {
        display: none;
      }

      .navbar__logo {
        display: none;
      }
    }

    .cta {
      display: none;
    }

    [class*='toggle_'] {
      display: none;
    }

    &__back {
      // Hide the back button in mobile sidebar
      display: none;
    }

    &__close {
      padding: 0.5rem;
      margin-inline-end: -0.5rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &__backdrop {
      z-index: var(--z-sidebar);
    }
  }
}
